<app-navbar></app-navbar>

<main id="main">

  <section id="about" class="about">

      <div class="section-title">
        <h2>Sobre</h2>
        <p>Quem somos</p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Está é a Vitrine Escolar, uma plataforma web para classificar e ranquear as escolas da sua região.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Classifique as escolas de sua região</li>
            <li><i class="ri-check-double-line"></i> Veja o ranque das melhores escolas na sua região</li>
            <li><i class="ri-check-double-line"></i> Ache a escola que melhor adequa seu filho</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            As escolas com maior ranque obterá um lugar de destaque no nosso site. Caso queria trabalhar conosco para utilizar nossas métricas em divulgações, dê uma olhada em nossos planos para divulgação e ganho de acessos exclusivos no site.
          </p>
          <a [routerLink]="['/price']" class="btn-learn-more">Ver Planos</a>
        </div>
      </div>
  </section><!-- End About Section -->

</main><!-- End #main -->

<app-footer></app-footer>