<app-navbar></app-navbar>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1 *ngIf="nivelDeEnsino === 'Pré-alfabetização'">Pré-alfabetização</h1>
        <h1 *ngIf="nivelDeEnsino === 'EnsinoFundamental'">Ensino Fundamental</h1>
        <h1 *ngIf="nivelDeEnsino === 'EnsinoMédio'">Ensino Médio</h1>
        <h1 *ngIf="nivelDeEnsino === undefined">Todos os níveis de ensino</h1>
        <ol>
          <li><a [routerLink]="''">Home</a></li>
          <li><a [routerLink]="['/NivelDeEnsino']" routerLinkActive="active">Níveis de ensino</a></li>
          <li *ngIf="nivelDeEnsino === 'Pré-alfabetização'">Pré-alfabetização</li>
          <li *ngIf="nivelDeEnsino === 'EnsinoFundamental'">Ensino Fundamental</li>
          <li *ngIf="nivelDeEnsino === 'EnsinoMédio'">Ensino Médio</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center padding">
        <div class="col-md-8">
            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Nome da escola" [(ngModel)]="nomeDaEscola"> <button class="btn btn-primary" (click)="goToFilterSchool()">Pesquisar</button> </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
                <tr>
                  <th scope="col">Logo</th>
                  <th scope="col">Escola</th>
                  <th scope="col">CEP</th>
                  <th scope="col">Telefone</th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let escola of EscolaList">
                <td class="w-25">
                    <img src={{escola.foto}} class="img-fluid img-thumbnail" alt="">
                </td>
                <td>{{escola.nome}}</td>
                <td>{{escola.cep}}</td>
                <td>{{escola.telefone}}</td>
                <td><button (click)="detail(escola)" class="btn-get-started animate__animated animate__fadeInUp scrollto">Detalhes</button></td>
              </tr>
            </tbody>
          </table>   
      </div>
    </div>
  </div>

</main><!-- End #main -->
<app-footer></app-footer>