<app-navbar></app-navbar>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1>Pré-alfabetização</h1>
        <ol>
          <li><a [routerLink]="''">Home</a></li>
          <li>Níveis de ensino</li>
          <li>Pré-alfabetização</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <table class="container portfolio-info">
    <tbody>
      <tr *ngIf="selectedSchool">
        <td>
          <!-- ======= Portfolio Details Section ======= -->
          <section id="portfolio-details" class="portfolio-details">
            <div class="container">

              <div class="row gy-4 portfolio-info">

                <div class="col-lg-8">
                  <div class="portfolio-details-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">

                      <div class="swiper-slide">
                        <img src={{selectedSchool.foto}} alt="">
                      </div>

                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                
                <div class="col-lg-4" >
                  <div class="portfolio-info">
                    

                    <h3>{{selectedSchool.nome}}</h3>
                    <ul>
                      <li><strong>Segurança</strong>: {{selectedSchool.segurancaEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating" value="5" id="1"><label for="1">☆</label> 
                        <input type="radio" name="rating" value="4" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="1" id="5"><label for="5">☆</label>
                      </div>
                      <li><strong>Estrutura</strong>: {{selectedSchool.estruturaEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating2" value="5" id="6"><label for="6">☆</label> 
                        <input type="radio" name="rating2" value="4" id="7"><label for="7">☆</label> 
                        <input type="radio" name="rating2" value="3" id="8"><label for="8">☆</label> 
                        <input type="radio" name="rating2" value="2" id="9"><label for="9">☆</label> 
                        <input type="radio" name="rating2" value="1" id="10"><label for="10">☆</label>
                      </div>
                      <li><strong>Merenda</strong>: {{selectedSchool.alimentacaoEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating3" value="5" id="11"><label for="11">☆</label> 
                        <input type="radio" name="rating3" value="4" id="12"><label for="12">☆</label> 
                        <input type="radio" name="rating3" value="3" id="13"><label for="13">☆</label> 
                        <input type="radio" name="rating3" value="2" id="14"><label for="14">☆</label> 
                        <input type="radio" name="rating3" value="1" id="15"><label for="15">☆</label>
                      </div>
                      <li><strong>Metodologia</strong>: {{selectedSchool.qualidadeEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating4" value="5" id="16"><label for="16">☆</label> 
                        <input type="radio" name="rating4" value="4" id="17"><label for="17">☆</label> 
                        <input type="radio" name="rating4" value="3" id="18"><label for="18">☆</label> 
                        <input type="radio" name="rating4" value="2" id="19"><label for="19">☆</label> 
                        <input type="radio" name="rating4" value="1" id="20"><label for="20">☆</label>
                      </div>
                      <li><strong>Site oficial</strong>: <a href={{selectedSchool.site}}>{{selectedSchool.nome}}</a></li>
                    </ul>
                  </div>
                  
                </div>
                <div class="portfolio-description">
                  <h2>Descrição</h2>
                  <p>
                    {{selectedSchool.descricao}}
                  </p>
                </div>

              </div>

            </div>
          </section><!-- End Portfolio Details Section -->
        </td>
      </tr>
    </tbody>
  </table>
  
</main><!-- End #main -->

<app-footer></app-footer>