<app-navbar></app-navbar>

<main id="main" *ngIf="selectedSchool">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        
        <h1>{{selectedSchool.nome}}</h1>
        <ol>
          <li><a [routerLink]="''">Home</a></li>
          <li><a [routerLink]="['/NivelDeEnsino']" routerLinkActive="active">Níveis de ensino</a></li>
          <li>{{selectedSchool.nome}}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <table class="container portfolio-info">
    <tbody>
      <tr>
        <td>
          <!-- ======= Portfolio Details Section ======= -->
          <section id="portfolio-details" class="portfolio-details">
            <div class="container">

              <div class="row gy-4 portfolio-info">

                <div class="col-lg-8">
                  <div class="portfolio-details-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">

                      <div class="swiper-slide">
                        <img src={{selectedSchool.foto}} alt="">
                      </div>

                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                
                <div class="col-lg-4" >
                  <div class="portfolio-info">
                    

                    <ul>
                      <li><strong>Segurança</strong>: {{selectedSchool.segurancaEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating" [value]="5" id="1" [(ngModel)]="input.segurancaEscolar"><label for="1">☆</label> 
                        <input type="radio" name="rating" [value]="4" id="2" [(ngModel)]="input.segurancaEscolar"><label for="2">☆</label> 
                        <input type="radio" name="rating" [value]="3" id="3" [(ngModel)]="input.segurancaEscolar"><label for="3">☆</label> 
                        <input type="radio" name="rating" [value]="2" id="4" [(ngModel)]="input.segurancaEscolar"><label for="4">☆</label> 
                        <input type="radio" name="rating" [value]="1" id="5" [(ngModel)]="input.segurancaEscolar"><label for="5">☆</label>
                      </div>
                      <li><strong>Estrutura</strong>: {{selectedSchool.estruturaEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating2" [value]="5" id="6" [(ngModel)]="input.estruturaEscolar"><label for="6">☆</label> 
                        <input type="radio" name="rating2" [value]="4" id="7" [(ngModel)]="input.estruturaEscolar"><label for="7">☆</label> 
                        <input type="radio" name="rating2" [value]="3" id="8" [(ngModel)]="input.estruturaEscolar"><label for="8">☆</label> 
                        <input type="radio" name="rating2" [value]="2" id="9" [(ngModel)]="input.estruturaEscolar"><label for="9">☆</label> 
                        <input type="radio" name="rating2" [value]="1" id="10" [(ngModel)]="input.estruturaEscolar"><label for="10">☆</label>
                      </div>
                      <li><strong>Merenda</strong>: {{selectedSchool.alimentacaoEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating3" [value]="5" id="11" [(ngModel)]="input.alimentacaoEscolar"><label for="11">☆</label> 
                        <input type="radio" name="rating3" [value]="4" id="12" [(ngModel)]="input.alimentacaoEscolar"><label for="12">☆</label> 
                        <input type="radio" name="rating3" [value]="3" id="13" [(ngModel)]="input.alimentacaoEscolar"><label for="13">☆</label> 
                        <input type="radio" name="rating3" [value]="2" id="14" [(ngModel)]="input.alimentacaoEscolar"><label for="14">☆</label> 
                        <input type="radio" name="rating3" [value]="1" id="15" [(ngModel)]="input.alimentacaoEscolar"><label for="15">☆</label>
                      </div>
                      <li><strong>Metodologia</strong>: {{selectedSchool.qualidadeEscolar}}</li>
                      <div class="rating"> 
                        <input type="radio" name="rating4" [value]="5" id="16" [(ngModel)]="input.qualidadeEscolar"><label for="16">☆</label> 
                        <input type="radio" name="rating4" [value]="4" id="17" [(ngModel)]="input.qualidadeEscolar"><label for="17">☆</label> 
                        <input type="radio" name="rating4" [value]="3" id="18" [(ngModel)]="input.qualidadeEscolar"><label for="18">☆</label> 
                        <input type="radio" name="rating4" [value]="2" id="19" [(ngModel)]="input.qualidadeEscolar"><label for="19">☆</label> 
                        <input type="radio" name="rating4" [value]="1" id="20" [(ngModel)]="input.qualidadeEscolar"><label for="20">☆</label>
                      </div>
                      <li><strong>Site oficial</strong>: <a href={{selectedSchool.site}}>{{selectedSchool.nome}}</a></li>
                      <div class="md-form" style="margin-bottom: 15px; margin-top: 15px;">
                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" style="min-height: 100px;" mdbInput [(ngModel)]="input.comentario"></textarea>
                      </div>
                      <button type="button" class="btn btn-primary pull-right" style="margin-bottom: -20px;" (click)="avalia()">Enviar avaliação</button>
                    </ul>
                  </div>
                  
                </div>
                <div class="portfolio-description">
                  <h2>Descrição</h2>
                  <p>
                    {{selectedSchool.descricao}}
                  </p>
                </div>

                <div class="portfolio-description">
                  <h2>Avaliações</h2>
                    <table>
                      <tr>
                        <th>Data</th>
                        <th>Nome do usuário avaliador</th>
                        <th>Estrutura</th>
                        <th>Qualidade</th>
                        <th>Segurança</th>
                        <th>Alimento</th>
                        <th>Comentário</th>
                      </tr>
                      <tr *ngFor="let escolaAvaliacao of selectedSchool.avaliacoes">
                        <td>{{escolaAvaliacao.ano}}</td>
                        <td>{{escolaAvaliacao.usuario}}</td>
                        <td>{{escolaAvaliacao.estruturaEscolar}}</td>
                        <td>{{escolaAvaliacao.qualidadeEscolar}}</td>
                        <td>{{escolaAvaliacao.segurancaEscolar}}</td>
                        <td>{{escolaAvaliacao.alimentacaoEscolar}}</td>
                        <td>{{escolaAvaliacao.comentario}}</td>
                      </tr>
                    </table>
                </div>

              </div>

            </div>
          </section><!-- End Portfolio Details Section -->
        </td>
      </tr>
    </tbody>
  </table>
  
</main><!-- End #main -->

<app-footer></app-footer>