<div class="container bg-dark mt-3">
    <form  class="form-control bg-secondary">
        <fieldset class="form-control">
            <legend class="text-center bd">Dados Pessoais</legend>
            <label class="form-label" for="Nome">Nome: </label>
            <input class="form-control" type="text" name="Nome" id="Nome" placeholder="ex: João figueiroa"> 
            <label class="form-label" for="idade">Idade: </label>
            <input class="form-control" type="text"  name="idade" id="idade" placeholder="ex: 17">
            <label class="form-label" for="cpf">CPF: </label>
            <input class="form-control" type="text" name="cpf" id="cpf" placeholder="ex: 000.000.000-00"> 
        </fieldset>
        <fieldset class="form-control">
            <legend class="text-center"> Crie uma senha</legend>
                <label class="form-label" for="email">Email: </label>
                <input class="form-control" type="email" name="email" id="email">
                <label class="form-label" for="senha">Senha: </label>
                <input class="form-control" type="password" name="senha" id="senha">
                <label class="form-label" for="senha">Digite a senha novamente: </label>
                <input class="form-control" type="password" name="senha" id="senha">
            
        </fieldset>
        <fieldset class="form-control mt-3">
            <legend class="text-center">Dados Escola</legend>
            <Label class="form-label" for="nescola">Escola Atual</Label>
            <input class="form-control" type="text" name="nescola" id="nescola" placeholder="ex: colegio imaculado">
            <label class="form-label" for="ano">Ano: </label>
            <input class="form-control" type="text" name="ano" id="ano" placeholder="ex 9º ano">
        </fieldset>
       
    </form>
    <div class="row">
        <div class="col">
            <button class="cadastra btn btn-primary">Cadastrar</button>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</div>
