<app-navbar></app-navbar>
<main id="main">

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Informações do Usuário</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Nome</label>
                                <input class="input--style-4" type="text" name="last_name" [(ngModel)]="input.nome">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Sobrenome</label>
                                <input class="input--style-4" type="text" name="last_name" [(ngModel)]="input.sobrenome">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Data de Nascimento</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" type="text" name="birthday" [(ngModel)]="input.dataNascimento">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">CEP</label>
                                <input class="input--style-4" type="text" name="CEP" [(ngModel)]="input.cep">
                            </div>
                        </div>
                        <!-- <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gênero</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Masculino
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Feminino
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email"  [(ngModel)]="input.email">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Telefone</label>
                                <input class="input--style-4" type="text" name="phone" [(ngModel)]="input.telefone">
                            </div>
                        </div>
                    </div>
                    <h2 class="title">Credenciais de Cadastro</h2>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Nome de Usuário</label>
                                <input class="input--style-4" type="text" name="last_name" [(ngModel)]="input.usuario">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Senha</label>
                                <input class="input--style-4" type="password" name="first_name" [(ngModel)]="input.senha">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Confirmar Senha</label>
                            <input class="input--style-4" type="password" name="first_name" [(ngModel)]="input.confirmarSenha">
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label" style="padding-right: 10px;">Escola que estuda atualmente:</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select id="inputLocationType" name="location-type" required [(ngModel)]="input.escolaAtual"> <!-- <== changed -->
                                <option selected="selected" disabled>Escolas...</option>
                                <option *ngFor="let escola of EscolaList?.results" [ngValue]="escola.pk">{{ escola.nome }}</option>
                              </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit" (click)="register()">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main><!-- End #main -->